@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Model.Name Record</h1>
<br />

<form asp-action="Delete" method="post">

    <partial name="PartialViews/DeleteDetailsPartialView" />

    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
