@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmail">
			<div asp-validation-summary="All"></div>

			<input asp-for="Email" placeholder="Recovery Email Address">
			<span asp-validation-for="Email"></span>
			<br />

			<input type="submit" value="Reset password">

		</form>
	</div>
</div>

@section ValidationScripts {
	<partial name="_ValidationScriptsPartial">
}
