@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="ResetPassword">

			<input asp-for="NewPassword" placeholder="Enter New Password">
			<span asp-validation-for="NewPassword"></span>
			<br />

			<input asp-for="ConfirmPassword" placeholder="Confirm New Password">
			<span asp-validation-for="ConfirmPassword"></span>

			<input type="submit" value="Reset password">

		</form>
	</div>
</div>

@section ValidationScripts {
	<partial name="_ValidationScriptsPartial">
}
